<section id="bio">
  <section id="img-wrapper">
    <img src="{{site.data.author.dp}}" alt="" />
  </section>
  <section id="bio-wrapper">
    <div id="text-wrapper">Software developer with over 6 years experience developing web applications using a variety of technologies. I take great pleasure in watching customers/clients use my software in very unexpected ways, and finding creative solutions to handle it (Even if it's frustrating sometimes!). Currently looking to make the jump to game development, but roles in 3D development interest me too.</div>
  </section>
</section>
